.taobao-1-27 .header .bgf7f7f7 .icon
	color #000
a
	color #000
.taobao-1-27 .header .nav a
	color #fff

.taobao-1-27 .main .list-page.w100 .tabs-content .item ul
	padding-bottom 15px
.taobao-1-27 .main .w100 .tabs-content .item li
.taobao-1-27 .main .w100 .tabs-content .item a
	height 20px	
	font-size 14px
	line-height 20px
.taobao-1-27 .main .w100 .tabs-content .item a span
	height 20px
	vertical-align middle
.taobao-1-27 .main .w100 .tabs-content .item li
	margin-bottom 10px
.taobao-1-27 .main .w315.column .rule .content .text
	height 30px
	width 92%
	display block
.taobao-1-27 .main .w100 .tabs-content .item
	padding 15px 20px
